{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Online-shop</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

    {% include 'stils.html' %}

    </head>

    <body>




        <!-- Navbar start -->
        {% include 'navbar.html' %}
        <!-- Navbar End -->




        {% block content %}
  
        {% endblock content %}
        <!-- Footer Start -->
         {% include 'footer.html' %}
        <!-- Footer End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>   
        <!-- JavaScript Libraries -->
         {% include 'js.html' %}
    </body>

</html>

